email-security-agent.json
{
  "name": "Inbox Security Agent v1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -80
      ],
      "id": "9315a59b-8059-4812-bc99-c98e4b879c5d",
      "name": "Trigger | Test Input"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an email risk classifier.\n\nYour job is to return exactly one word:\nHIGH\nMEDIUM\nLOW\n\nRules:\n- Return HIGH only if the email asks for a password, payment, banking info, MFA code, gift cards, wire transfer, or says there is urgent account suspension/action.\n- Return MEDIUM if the email is suspicious, unusual, or asks to verify non-sensitive information, but does not ask for passwords, money, codes, or banking details.\n- Return LOW if the email is ordinary and safe.\n\nImportant:\n- \"login details\" should be MEDIUM unless it explicitly asks for a password, code, or payment.\n- Do not explain.\n- Do not add punctuation.\n- Return only HIGH, MEDIUM, or LOW.\n\nExamples:\nEmail: \"Send me your password now or your account will be locked.\"\nAnswer: HIGH\n\nEmail: \"Can you confirm your username and whether you attempted a login earlier today?\"\nAnswer: MEDIUM\n\nEmail: \"Hey, just checking if we're still on for tomorrow at 2 PM.\"\nAnswer: LOW"
            },
            {
              "content": "={{ $json.email_text }}"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        448,
        -80
      ],
      "id": "f0acb55c-0609-4cad-9677-8dfbaafc3637",
      "name": "Model | AI | Classify Email",
      "credentials": {
        "openAiApi": {
          "id": "M7pVGokFCjtp2utx",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d6ca9f64-599a-4478-80bd-e1bb6699851b",
              "leftValue": "={{ $json.output[0].content[0].text }}",
              "rightValue": "HIGH",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        800,
        -80
      ],
      "id": "b0eb47cc-4827-4042-b8c6-83cb1689db2a",
      "name": "First IF | Check HIGH"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "73178230-cd62-47a1-bf41-a6422b7725cc",
              "leftValue": "={{ $json.output[0].content[0].text}}",
              "rightValue": "MEDIUM",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1168,
        64
      ],
      "id": "b02fa659-1195-4e2f-99b2-9e3a82e65aa1",
      "name": "Second IF | MEDIUM"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91b40785-1f53-4392-9097-33fa18833659",
              "name": "email_text",
              "value": "Just checking in tomorrows meeting.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -80
      ],
      "id": "6257e028-11b6-4b80-86c3-841775bbcd4e",
      "name": "First Edit Fields  | Set Email Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b49f2331-9887-4d3f-ac07-0b0a64c15676",
              "name": "result",
              "value": "High risk - escalate",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -256
      ],
      "id": "7b5f4b1a-76c5-42c8-9b3c-224f154a0e68",
      "name": "Second Edit Fields  | HIGH"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87e88dbb-e671-4291-8b26-9dbeb24b9e36",
              "name": "results",
              "value": "review required",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        -128
      ],
      "id": "020e3233-53c7-4267-a9dd-b848ca7cf4c1",
      "name": "Third Edit Fields | MEDIUM"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7967a0fe-aa18-41a8-9345-4722a2b19922",
              "name": "result",
              "value": "safe",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        128
      ],
      "id": "b2cc8e5a-3c4e-4763-9aff-7d27e0343874",
      "name": "Fourth Edit Fields | LOW"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fd4ece9-710f-4e87-a358-0596cad307c1",
              "name": "email\n",
              "value": "={{ $('First Edit Fields  | Set Email Input').item.json.email_text}}",
              "type": "string"
            },
            {
              "id": "2733f3b7-9ab2-4158-b83b-94f37c660f14",
              "name": "result\n",
              "value": "={{ $json.result }}",
              "type": "string"
            },
            {
              "id": "9eaf6324-b682-45f8-97b7-699f392969e5",
              "name": "=timestamp",
              "value": "={{new Date().toISOString()}}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        -256
      ],
      "id": "fd1cab7e-7a1c-4616-8878-4a1f976e62a2",
      "name": "Fifth Edit Fields | Log Entry"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger | Test Input": {
      "main": [
        [
          {
            "node": "First Edit Fields  | Set Email Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model | AI | Classify Email": {
      "main": [
        [
          {
            "node": "First IF | Check HIGH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First IF | Check HIGH": {
      "main": [
        [
          {
            "node": "Second Edit Fields  | HIGH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Second IF | MEDIUM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Second IF | MEDIUM": {
      "main": [
        [
          {
            "node": "Third Edit Fields | MEDIUM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fourth Edit Fields | LOW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Edit Fields  | Set Email Input": {
      "main": [
        [
          {
            "node": "Model | AI | Classify Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Second Edit Fields  | HIGH": {
      "main": [
        [
          {
            "node": "Second IF | MEDIUM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fifth Edit Fields | Log Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Third Edit Fields | MEDIUM": {
      "main": [
        [
          {
            "node": "Fifth Edit Fields | Log Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fourth Edit Fields | LOW": {
      "main": [
        [
          {
            "node": "Fifth Edit Fields | Log Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3c858706-f2a6-4ddb-8dd3-6245051b0c86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17ff02c8e7e3e627a7eccf4043e5d210e9f325a74b2a830b5dd6905ae144d07c"
  },
  "id": "qjsFdOOK7fb2AdEh",
  "tags": []
}